<!DOCTYPE html>
<html>
<head>
	<title>The SJ Wiki Project</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<div class='sidenav' style='font-family:monospace'>
	<a href='/'>Home</a>
	<a href='/about'>About</a>
    <a href='/random'>Random</a>
    <a href='/new/article'>New</a>
</div>
<!-- Redesign later :P -->
<body>
    <div class='title'>
        {{  title  }}
        <p>
            <div class='para'>
                Author: {{  author  }}
                <br>
            </div>
        </p>
    </div>
</body>
</html>